* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 223, 206);

    .board {
        display: flex;
        flex-wrap: wrap;
        width: 60vh;
        height: 60vh;



        .board__block {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 20vh;
            height: 20vh;
            background-color: rgb(61, 184, 173);
            border: 2px solid rgb(27, 223, 206);
            border-radius: 20px;
            cursor: pointer;

            font-size: 100px;
            color: rgb(0, 72, 85);
        }
    }



    .result {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
        width: 60vh;
        font-size: 30px;
        font-family: lato;
        color: rgb(0, 72, 85);



    }

    .play-again {
        width: 60vh;
        margin-top: 10px;
        padding: 10px 0;

        font-size: 30px;
        text-align: center;
        font-family: lato;
        color: rgb(27, 223, 206);

        cursor: pointer;
        border-radius: 35px;
        background-color: rgb(0, 72, 85);
    }

    @media(orientation: portrait) and (max-width: 700px) {
        .board {
            width: 30vh;
            height: 30vh;

            .board__block {
                width: 10vh;
                height: 10vh;
                font-size: 40px;
            }
        }

        .result {
            width: 30vh;
            font-size: 15px;
        }

        .play-again {
            width: 30vh;

            font-size: 20px;



        }
    }

    @media (orientation: landscape) and (max-width: 1020px) {
        .result {
            font-size: 15px;
        }

        .play-again {
            font-size: 20px;
        }

    }
}